<h3>Parent Component</h3>
<sub>Using @Self()</sub>
<p *ngIf="intervalValue">
  Data is <span>{{ intervalValue }}</span> seconds old
</p>
<sub>Using Injection Token</sub>
<p>Here's a task for you: {{ task }}</p>
<child></child>
