@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

sub {
  font-weight: 700;
}

p {
  margin-top: 8px;
}
